/*box 1*/
.content-body-areaOptionps .content-body-areaOptionps-selection-1 {
    background-image:url(https://www.politize.com.br/wp-content/uploads/2017/09/geopolitica-1280x720-1.png);
    background-position: 0px 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
    opacity: 0.8;
  }
  
  .content-body-areaOptionps .content-body-areaOptionps-selection-1:hover {
    background-size: 100%;
    background-position: 0px 45%;
    opacity: 1;
    transition: 0.25s;
  }
  
  /*box 2*/
  .content-body-areaOptionps .content-body-areaOptionps-selection-2 {
    background-image: url(https://nortedigital.mx/wp-content/uploads/2021/02/img-articulos-vacio-de-informacion-medios-digitales-00-1200x674-1.jpg);
    background-position: 0px 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
    opacity: 0.8;
  }
  
  .content-body-areaOptionps .content-body-areaOptionps-selection-2:hover {
    background-size: 100%;
    background-position: 0px 45%;
    opacity: 1;
    transition: 0.25s;
  }
  
  /*box 3*/
  .content-body-areaOptionps .content-body-areaOptionps-selection-3 {
    background-image:url(https://as.com/betech/imagenes/2017/02/09/portada/1486635951_595506_1486636405_noticia_normal.jpg);
    background-position: 0px 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
    opacity: 0.8;
  }
  
  .content-body-areaOptionps .content-body-areaOptionps-selection-3:hover {
    background-size: 100%;
    background-position: 0px 45%;
    opacity: 1;
    transition: 0.25s;
  }

  /*box 4*/
  .content-body-areaOptionps .content-body-areaOptionps-selection-4 {
    background-image:url(https://www.esan.edu.pe/apuntes-empresariales/2016/06/14/ongempresas_principal.jpg);
    background-position: 0px 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
    opacity: 0.8;
  }
  
  .content-body-areaOptionps .content-body-areaOptionps-selection-4:hover {
    background-size: 100%;
    background-position: 0px 45%;
    opacity: 1;
    transition: 0.25s;
  }